# Environment files
.env
.env.*
!.env.example

# Laravel specific
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
/vendor

# Node
/node_modules
/public/build
/public/hot

# IDE & OS files
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed

# PHP / Testing
.phpunit.result.cache
/.phpunit.cache
.phpactor.json

# Composer / Nova
auth.json
/.nova

# Homestead / Vagrant
Homestead.json
Homestead.yaml

# Backups
/.env.backup
.env.production
